<ion-header>
  <ion-navbar>
    <ion-title>
      Login form
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">
   <ion-item *ngIf="isShowInfo">
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-xl-4 col-lg-6 col-sm-12>
                    <ion-card>
                        <img *ngIf="(serverTokenUserInfo?.image)" [src]="serverTokenUserInfo?.image"/>
                        <ion-card-content>
                            <ion-card-title>
                                {{serverTokenUserInfo?.username}}
                            </ion-card-title>
                            <p>{{serverTokenUserInfo?.nickname}}</p>
                            <p>{{serverTokenUserInfo?.req_time}}</p>
                        </ion-card-content>
                        <ion-row>
                            <ion-col>
                                <button ion-button type="button" clear small color="secondary" icon-start (click)="callLogout()">
                                    <ion-icon name='backspace' ios="ios-backspace" md="md-backspace"></ion-icon>
                                    Logout
                                </button>
                            </ion-col>
                            <ion-col text-right>
                                <button ion-button type="button" clear small color="secondary" icon-start (click)="callEdit()">
                                    <ion-icon name='share-alt'></ion-icon>
                                    Edit
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
  </ion-item>
  <form (ngSubmit)="onSubmit()" [formGroup]="myFromGroup" *ngIf="!(isShowInfo)">
    <ion-card col-12 col-xl-4 col-lg-6 col-sm-12>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="pass"></ion-input>
      </ion-item>
      <ion-row no-padding>

          <ion-col>
              <ion-buttons start>
                  <button ion-button type="button" icon-end round (click)="callRegister()">
                      Đăng ký nào
                      <ion-icon name="images"></ion-icon>
                  </button>
              </ion-buttons>
          </ion-col>

        <ion-col text-right>
          <ion-buttons start>
            <button ion-button type="submit" icon-end round>
              Đăng nhập nào
              <ion-icon name="share-alt"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

      </ion-row>

    </ion-card>
  </form>

</ion-content>