<!-- 
xs	auto	Don’t set the grid width for xs screens
sm	540px	Set grid width to 540px when (min-width: 576px)
md	720px	Set grid width to 720px when (min-width: 768px)
lg	960px	Set grid width to 960px when (min-width: 992px)
xl	1140px	Set grid width to 1140px when (min-width: 1200px)
-->
<!-- <ion-split-pane when="md">
    <ion-menu [content]="content" *ngIf="true">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons start menuClose>
                    <button ion-button icon-only color="royal" (click)="goSearch()">
                        <ion-icon name="search"></ion-icon>
                    </button>
                </ion-buttons>
                <ion-title *ngIf="(userInfo!=null)">
                    <ion-item class='background-transparent'>
                        <ion-avatar item-start>
                            <img [src]="userInfo?.image">
                        </ion-avatar>
                        <h1>{{userInfo?.nickname}}</h1>
                    </ion-item>
                </ion-title>
                <ion-title *ngIf="(userInfo==null)">
                   Login...
                </ion-title>
                <ion-buttons end *ngIf="(userInfo==null)" menuClose>
                    <button ion-button icon-only (click)="presentLoginPrompt()">
                        <ion-icon name="log-in" ios="ios-log-in" md="md-log-in"></ion-icon>
                    </button>
                </ion-buttons>
                <ion-buttons end *ngIf="(userInfo!=null)">
                        <button ion-button icon-only (click)="logout()">
                            <ion-icon name="log-out" ios="ios-log-out" md="md-log-out"></ion-icon>
                        </button>
                </ion-buttons>
                <ion-buttons right *ngIf="(userInfo!=null)" menuClose>
                    <button ion-button icon-only (click)="setting()">
                        <ion-icon name="cog" ios="ios-cog" md="md-cog"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <ion-content class="menu-container">
            <ion-list no-lines>
                <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="transparent list-item">
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu> -->
    <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
<!-- </ion-split-pane> -->